{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Edit Note</h1>

<form method="POST">
    <input type="text" class="form-control"  name="title"  placeholder="Title..." value="{{ request.form['title'] or note['title'] }}">
  <textarea name="data" id="data" class="form-control" >{{ request.form['data'] or note['data'] }}</textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Edit</button>
  </div>
</form>

{% endblock %}
